@mixin BlockCoveringText($bg, $duration, $delay) {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $bg;
  
        transform: translate3d(0, 0, 0);

        transition-property: transform;
        transition-duration: $duration;
        transition-timing-function: ease-in;
        transition-delay: $delay;
      }
}

@mixin coveredText($color) {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    overflow: hidden;
    color: $color;
}